spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/RedeSocial
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: validate
    show_sql: true
    properties:
      hibernate:
        format_sql: true

  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER

server:
  error:
    include-message: always

jwt:
  public:
    key: classpath:authz.pub
  private:
    key: classpath:authz.pem